*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
}
html{
   scroll-behavior:smooth;
}
.hero-container{
    height: 100vh;
    width: 100%;
    padding-left: 40px;
}


:root{
    --bgheroETshadow :#FFFFFF;
    --nav:#EF7F01;
    --Navhover:#F08002;
    --Titreprincipal:#0E181A;
}
.image-contact{
    max-height: 670px;
    margin-top: 10px;
}
.logo {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.40rem;
  color: var(--bgheroETshadow);
}
 strong{
    cursor: pointer;
    transition: 1s;
  }
    strong:hover{
    color: var(--bgheroETshadow);
    font-size: 1.45rem;
    cursor: pointer;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;

  }
.nav-container{
    display: flex;
    justify-content: center;
    margin-top: 6px;

}
.nav{
    /* background-image: linear-gradient(to top left, #EF7E02, #030A09); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    background-color: var(--Titreprincipal);
    padding: 5px 35px;
    border: 4px solid var(--bgheroETshadow);
    box-shadow: 2px 4px 6px var(--Titreprincipal);
    border-radius: 45px;
}
.nav>a{
    text-decoration: none;
    color: var(--Navhover);
    transition: 1.5s;
    font-size: 1.2rem;

}

.button-explore {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: var(--Navhover);
  border-radius: 30px;
  color: black;
  width: 9rem;
  padding: 1.4rem;
  margin-left: 17rem;
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
  transition-duration: .5s;
}

.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(19, 19, 19);
}

.button-explore:hover {
  background-color: var(--nav);
  transition-duration: .5s;
}

.button-explore:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.button-explore:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}

.main > .inp {
  display: none;
}
.main {
  font-weight: 800;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  padding: 3px 15px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 12rem;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
}

.arrow {
  height: 34%;
  aspect-ratio: 1;
  margin-block: auto;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 2.5px;
  border-radius: 500px;
  transform-origin: bottom;
}

.arrow::after {
  transform: rotate(35deg) translateX(-0.5px);
}
.arrow::before {
  transform: rotate(-35deg) translateX(0.5px);
}

.main > .inp:checked + .arrow {
  transform: rotateX(180deg);
}

.menu-container {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 130%;
  overflow: hidden;
  clip-path: inset(0% 0% 0% 0% round 10px);
  transition: all 0.4s;
}

.menu-list {
  --delay: 0.4s;
  --trdelay: 0.15s;
  padding: 8px 10px;
  border-radius: inherit;
  transition: background-color 0.2s 0s;
  position: relative;
  transform: translateY(30px);
  opacity: 0;
}

.menu-list::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 95%;
}

.menu-list:hover {
  background-color: rgb(223, 223, 223);
}

.inp:checked ~ .menu-container {
  clip-path: inset(10% 50% 90% 50% round 10px);
}

.inp:not(:checked) ~ .menu-container .menu-list {
  transform: translateY(0);
  opacity: 1;
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(1) {
  transition:
    transform 0.4s var(--delay),
    opacity 0.4s var(--delay);
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(2) {
  transition:
    transform 0.4s calc(var(--delay) + (var(--trdelay) * 1)),
    opacity 0.4s calc(var(--delay) + (var(--trdelay) * 1));
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(3) {
  transition:
    transform 0.4s calc(var(--delay) + (var(--trdelay) * 2)),
    opacity 0.4s calc(var(--delay) + (var(--trdelay) * 2));
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(4) {
  transition:
    transform 0.4s calc(var(--delay) + (var(--trdelay) * 3)),
    opacity 0.4s calc(var(--delay) + (var(--trdelay) * 3));
}

.bar-inp {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  display: flex;
  height: 50%;
  width: 20px;
  flex-direction: column;
  gap: 3px;
}

.bar-list {
  --transform: -25%;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background-color: var(--nav) !important;
  transition: all 0.4s;
  position: relative;
}

.inp:not(:checked) ~ .bar > .top {
  transform-origin: top right;
  transform: translateY(var(--transform)) rotate(-45deg);
}

.inp:not(:checked) ~ .bar > .middle {
  transform: translateX(-50%);
  opacity: 0;
}

.inp:not(:checked) ~ .bar > .bottom {
  transform-origin: bottom right;
  transform: translateY(calc(var(--transform) * -1)) rotate(45deg);
}



.nav>a:hover{
    color: var(--bgheroETshadow);
    text-shadow:0 0 10px var(--Navhover),0 0 30px var(--Navhover);
}

.hero-items{
    display: flex;
}


h1 {
  font-family: "Goldman", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  color: var(--nav);
  font-size: 2.2rem; 

}

.nav-sm{
    display: none;
}

.text-hero{
    text-align: center;
  padding-top: 10rem;
}
.description{
    font-size: 1.5rem;
    text-align: left;
    padding-left: 50px;
}

.skills{
  background-image: url('./asssets/background2.1modif.png');
  background-repeat:no-repeat;
 
  margin-top: 9rem;
  height: 100vh;

  
}
.card-container{
   display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  grid-auto-rows: minmax(100px, auto);

}

.card {
  width: 170px;
  height: 170px;
  border-radius: 30px;
  background: var(--Titreprincipal);
  box-shadow: 1px 2px 8.5px #3f3f3f,
             -1px -2px 8.5px #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.filter{
  height: 100vh;
   backdrop-filter: blur(4px);
}

h3{
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  font-family:  "Goldman", sans-serif;
  font-weight:500;
  font-size: 4rem;
  color: var(--bgheroETshadow);
}

.text-card{
  color: var(--bgheroETshadow);
  font-size: 2.2rem;
}
.cartProjet {
  position: relative;
  width: 300px;
  height: 454px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  border: 2px solid #EF7F01;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.cartProjet::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 310px;
  height: 464px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #131D1E 0%, #EF7F01 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cartProjet::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ffffff 0%, #EF7F01 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.projets {
  padding-top: 100px;
  font-size: 20px;
  width: 100%;
  text-transform: capitalize;
  font-weight: 700;
  height: 100vh;
  margin: 0 auto;
    /* background-image: linear-gradient(to top, #EF7F01, #ffffff); */

}

.projets-text{
  background-color: #000000;
}

.projets-container{
  margin: 0 auto;
  padding-left: 19%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(100px, auto);
}

.cartProjet p:not(.projets) {
  font-size: 14px;
}

.cartProjet p:last-child {
  color: #EF7F01;
  font-weight: 600;
}

.cartProjet:hover::after {
  filter: blur(30px);
}

.cartProjet:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}



@media screen and (max-width: 900px) {
    *{
        font-size: 10px;
    }
    .hero-items{
    display: flex;
}
.nav{
    /* background-image: linear-gradient(to top left, #EF7E02, #030A09); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--Titreprincipal);
    border: 4px solid var(--bgheroETshadow);
    box-shadow: 2px 4px 6px var(--Titreprincipal);
    border-radius: 45px;
}

.skills{

  margin-top:0;
  height: 100vh;

  
}
.card-container{
   display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(100px, auto);

}
.card {
  width: 170px;
  height: 140px;
  border-radius: 30px;
  background: var(--Titreprincipal);
  box-shadow: 1px 2px 8.5px #3f3f3f,
             -1px -2px 8.5px #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
h3{
  padding-top: -10px;
  padding-bottom:0;
  text-align: center;
  font-family:  "Goldman", sans-serif;
  font-weight:400;
  font-size: 3.8rem;
  color: var(--bgheroETshadow);
}

.text-card{
  color: var(--bgheroETshadow);
  font-size: 1.5rem;
}
.logo {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.3rem;
  color: var(--bgheroETshadow);
}
 strong{
    cursor: pointer;
    transition: 1s;
  }
    strong:hover{
    color: var(--bgheroETshadow);
    font-size: 1.4rem;
    cursor: pointer;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;

  }

  .image-contact>img{
    width: 250px;
  }
}
@media screen and (max-width : 600px) {
    *{
        font-size: 12px;
        margin: 0;
        padding: 0 auto;
        box-sizing: border-box;
    }
    html{
      margin: 5px;
    }
    .hero-items{
    display: flex;
    flex-wrap: wrap;
}
.card-container{
   display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);


}

.cartProjet {
  position: relative;
  width: 220px;
  height: 268px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  border: 2px solid #EF7F01;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.cartProjet::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 230px;
  height: 278px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #131D1E 0%, #EF7F01 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.projets-container{
  margin: 0 auto;
  
  padding-left:22% !important;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.card {
  width: 155px;
  height: 140px;
  border-radius: 30px;
  background: var(--Titreprincipal);
  box-shadow: 1px 2px 8.5px #3f3f3f,
             -1px -2px 8.5px #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
h3{
  padding-top: 3px;
  padding-bottom:0;
  text-align: center;
  font-family:  "Goldman", sans-serif;
  font-weight:400;
  font-size: 3.8rem;
  color: var(--bgheroETshadow);
}

.text-card{
  color: var(--bgheroETshadow);
  font-size: 1.5rem;
}
.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}

.description{
    font-size: 1rem;
    text-align: left;
    padding-left: 0px;
}
header{
  height: 100vh;
    align-items: center;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
.button-explore {

  width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 10px;
  background-color: var(--Navhover);
  border-radius: 30px;
  color: black;
  width: 9rem;
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
}
.nav{
  display: none;
}
#small-devise{
    display:block;
}
.description{
    font-size: 1.5rem;
    text-align: left;
}
.skills{
  background-image: url('./asssets/background2.1modif.png');
  background-repeat:no-repeat;
  margin-top: 15.2rem;
  
}


h1{
  font-size: 20px;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.hero-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-sm{
    display: flex;
    align-items: center;
    margin-bottom: 12px;

}
.hero-container{
    width: 100%;
}
#profil{
    padding-left: 0;
}

.mobile{
    border: 1px solid var(--nav);
    border-radius: 18px;
    padding: 15px 25px;
    display: flex;
    align-items: start;    
    justify-content: center;
    box-shadow: 1px 3px 12px #0E181A;
    }
  
.text-hero{
    text-align: center;
  padding-top: 2rem;
}

}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
  
}

.animation {
  font: bold 200% Consolas, Monaco, monospace;
  border-right: .1em solid black;
  white-space: nowrap;
  margin-left: 4.5rem;
  width: 18ch;
  overflow: hidden; 
  -webkit-animation: typing 5s steps(100, end),
	           blink-caret .5s step-end infinite alternate;
}